// COLORS
$primary-color: #af80fc;
$secondary-color: #0145ff;
$font-family: "Montserrat", sans-serif;

$light-white: #fff3e7;
$white-color: #ffffff;
$dark-grey: #272727;

$dark-blue-text: #272341; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
